<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <main>
        <h1>Welcome</h1>
        <h2>Login</h2>
        <form class="Login-form" action="/api/login" method="POST">
            <div class="login-control mx-auto" style="width: 200px">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"><br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"><br><br>
            </div>

            <button class="btn" type="Login">Sign in</button>

        </form>

        <form class="register-form" action="/api/register" method="GET"> 
            <h2> New User, Register here </h2>
            <input type="submit" value="Register">
        </form> 
    </main>
</body>

</html>